= stylesheet_link_tag "event_calendar"

- form_tag calendar_path, :method => :get, :class => 'boxes' do
  .box
    %strong Proyectos
    - Project.all.each do |project|
      - div_for(project, :style => "color:#{project.color}") do
        = check_box_tag "projects[]", project.id, @projects.include?(project)
        = project.name

  .box
    %strong Actividad
    - Activity.all.each do |activity|
      - div_for(activity) do
        = check_box_tag "activities[]", activity.id, @activities.include?(activity)
        = activity.name
	      
  .box
    %strong Usuarios
    - User.all.each do |user|
      - div_for(user) do
        = check_box_tag "users[]", user.id, @users.include?(user)
        = user.firstname
  
  = submit_tag "Filtrar"

= event_calendar
