- semantic_form_for @use_case do |f|
  - f.inputs do
    = f.input :use_case_diagram
    = f.input :name
    = f.input :test_cases, :input_html => { :wrap => 'off' }
  - f.buttons do
    = f.commit_button
    รณ
    = link_to "Cancelar", @use_case, :class => 'warn'
