- title @use_case.name
%h2= @use_case.name
- unless @use_case.ppee_test.nil?
  %div
    %h3{:style => 'float:left;'}= pluralize(@use_case.ppee_test.scenarios.size, 'prueba asociada', 'pruebas asociadas')
    #source.clear
      :harsh
        #!harsh theme=sunburst
        #{format(@use_case.test_cases)}

.boxes
  .box
    %strong Opciones
    %p
      = link_to "Editar", edit_use_case_path(@use_case)
      |
      = link_to "Listado", use_cases_path
      |
      = link_to "Eliminar", @use_cases, :confirm => 'Estás seguro?', :method => :delete, :style => 'color:red;'
    %p
      %small= "actualizado hace #{time_ago_in_words(@use_case.updated_at)}"
  .box
    %strong Requerimientos
    - @use_case.requirements.each do |r|
      %p= link_to truncate(r.name, 40), r
    %p= link_to "Gestión de relaciones", list_requirements_path

  .box
    %strong Peticiones relacionadas
    - unless @use_case.requirements.empty?
      - issues_for(@use_case.requirements).each do |link|
        %p= link


/ %div{:style => 'display:block; float:left;'}
- unless @use_case.ppee_test.nil?
  .box{:style => 'width:65%; float:left'}
    / - begin
    = render :partial => 'testrunner'
    / - rescue
    /   %p Hubo errores en la generación de la plantilla xml
