- title @use_case.name
- cache("#{@use_case.id}-ppee_test") do
  %h2= @use_case.name
  - unless @use_case.ppee_test.nil?
    %div.toggle
      #source.clear
        :harsh
          #!harsh theme=sunburst
          #{format(@use_case.test_cases)}

.boxes
  .box
    %strong Opciones
    %p
      = link_to "Editar", edit_use_case_path(@use_case)
      |
      = link_to "Listado", use_cases_path
      |
      = link_to "Eliminar", @use_cases, :confirm => 'Estás seguro?', :method => :delete, :style => 'color:red;'
    %p
      %small= "actualizado hace #{time_ago_in_words(@use_case.updated_at)} por #{@use_case.updated_by.login}"
  .box
    %strong Requerimientos
    - @use_case.requirements.each do |r|
      %p= link_to truncate(r.name, 40), r
    %p= link_to "Gestión de relaciones", list_requirements_path

  - total_issues = Issue.find_by_requirements( @use_case.requirements ) || []
  - unless total_issues.empty?
    .box
      %strong Peticiones relacionadas
      %br
      - total_issues.group_by(&:fixed_version).each_pair do |version, issues|
        %small= version.name rescue "(sin version)"
        - issues.each do |issue|
          %p= link_to_redmine(issue)

- cache("#{@use_case.id}-testrunner") do
  / %div{:style => 'display:block; float:left;'}
  - unless @use_case.ppee_test.nil?
    #tests
      = render :partial => 'tests'