- title "Requerimientos"

- form_for @search, nil, nil, :html => { :class => "formtastic" } do |f|
  %fieldset#filters
    %legend Filtros
    %ol
      %li
        = f.label :name_like, "Nombre"
        = f.text_field :name_like
      %li
        = f.label :description_like, "Descripción"
        = f.text_field :description_like
    %ol
      %li
        = f.label :status_eq, "Estado"
        = f.collection_select :status_eq, Requirement.status_values, :to_s, :to_s, :include_blank => true
      %li
        = f.label :release_version_eq, "Version"
        = f.collection_select :release_version_eq, Requirement.release_versions, :to_s, :to_s, :include_blank => true
      %li
        = f.submit "Buscar"
        ó
        = link_to "Nuevo", new_requirement_path

= will_paginate @requirements

%table
  %tr
    %th Nombre
    %th Descripción
    %th Estado
  - for requirement in @requirements
    %tr
      %td= link_to truncate(requirement.name, :length => 50), requirement
      %td= h truncate(requirement.description, :length => 120 )
      %td= h requirement.status

= will_paginate @requirements