- title "Requerimientos"
- stylesheet "pagination"

- form_for @search, nil, nil, :html => { :class => "formtastic" } do |f|
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %fieldset#filters
    %legend Filtros
    %div{:style => 'float:right;'}
      #chart
      %script
        = "loadChart(#{@chart_data.delete("\n")}, '#chart')"
    %ol{:style => 'overflow:hidden'}
      %li
        = f.label :code_like, "Codigo"
        = f.text_field :code_like
      %li
        = f.label :name_like, "Nombre"
        = f.text_field :name_like
      %li
        = f.label :description_like, "Descripción"
        = f.text_field :description_like
      %li
        = f.label :status_eq, "Estado"
        = f.collection_select :status_eq, Requirement.status_values, :to_s, :to_s, :include_blank => true
      %li
        = f.label :release_version_eq, "Version"
        = f.collection_select :release_version_eq, Requirement.release_versions, :to_s, :to_s, :include_blank => true

    %ol{:style => 'clear:both'}
      %li{:style => "float:left;"}
        = f.submit "Buscar"
        |
        - link_to requirements_path(:format => :xls ) do
          = image_tag('excel.png')
        |
        = link_to "Nuevo", new_requirement_path

  - unless @requirements.empty?
    = will_paginate @requirements
    
    %table.clear
      %tr
        %th Nombre
        %th Descripción
        %th 
      - for requirement in @requirements
        %tr
          %td= link_to truncate("#{requirement.code} - #{requirement.name}", :length => 50), requirement
          %td= h truncate(requirement.description, :length => 120 )
          %td
            %small= "#{requirement.status.humanize.downcase} desde hace #{time_ago_in_words(requirement.date)}"
    = link_to_function "Edición Múltiple", "submitTo('#{edit_multiple_requirements_path}', 'post')"
    = will_paginate @requirements