- title "Requerimientos"
- stylesheet "pagination"

- form_for @search, nil, nil, :html => { :class => "formtastic" } do |f|
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %fieldset#filters
    %legend Filtros
    %div{:style => 'float:right;'}
      #chart
      %script
        = "loadChart(#{@chart_data.delete("\n")}, '#chart')"
    %ol{:style => 'overflow:hidden'}
      %li
        = f.label :code_like, "Codigo"
        = f.text_field :code_like
        %p.inline-hints Puedes buscar múltiples requerimientos separado por coma el código. Ejemplo: RF-004, RF-037, RF-039, ...
      %li
        = f.label :name_like, "Nombre"
        = f.text_field :name_like
      %li
        = f.label :description_like, "Descripción"
        = f.text_field :description_like
      %li
        = f.label :status_eq, "Estado"
        = f.collection_select :status_eq, Requirement.status_values, :to_s, :to_s, :include_blank => true
      %li
        = f.label :release_version_eq, "Version"
        = f.collection_select :release_version_eq, Requirement.release_versions, :to_s, :to_s, :include_blank => true
        %p.inline-hints Utiliza este filtro para extraer el paquete de pruebas de la versión

    %ol{:style => 'clear:both'}
      %li{:style => "float:left;"}
        = f.submit "Buscar"
        |
        = f.submit "Testrunner", :onclick => "$('form').attr('action', '#{requirements_path(:format => :xml)}')"
        |
        - link_to requirements_path(:format => :xls ) do
          = image_tag('excel.png')
        |
        = link_to "Nuevo", new_requirement_path

  - unless @requirements.empty?
    = will_paginate @requirements
    
    %table.clear
      %tr
        %th Nombre
        %th Descripción
        %th 
      - for requirement in @requirements
        %tr
          %td
            = link_to truncate("#{requirement.code} - #{requirement.name}", :length => 50), requirement, :title => requirement.name
            - count = Issue.find_by_requirements([ requirement ]).count
            - if count > 0
              %br
              %small= pluralize(count, "petición abierta", "peticiones abiertas")
          %td
            = h truncate(requirement.description, :length => 90 )
          %td
            %small{:title => requirement.date}= "#{requirement.status.humanize.downcase} hace #{time_ago_in_words(requirement.date)}"
            - if (count = requirement.use_cases.map(&:tests_count).compact.sum) > 0
              %br
              %small= pluralize(count, "prueba asociada", "pruebas asociadas")
    = link_to_function "Edición Múltiple", "submitTo('#{edit_multiple_requirements_path}', 'post')"
    = will_paginate @requirements
