- title @requirement.name

%h2= @requirement.name
%div{:style => 'float:left; width:70%'}
  %p
    %strong Código
    %br
    =h @requirement.code
  
  %p
    %strong Version prevista
    %br
    =@requirement.release_version
  %p
    %strong Descripción
    %br
    =h @requirement.description

.boxes
  .box
    %strong Opciones
    %p
      = link_to "Editar", edit_requirement_path(@requirement)
      |
      = link_to "Lista", requirements_path
      |
      = link_to "Eliminar", @requirement, :confirm => 'Estás seguro?', :method => :delete, :class => 'warn'

  .box
    %strong Casos de uso
    - @requirement.use_cases.each do |u|
      %p= link_to truncate(u.name, 40), u
    %p= link_to "Gestión de relaciones", list_requirements_path
        
  .box
    %strong Histórico
    - ([@requirement] + @requirement.versions.reverse).each do |version|
      %p
        %span= version.status.humanize
        %span= "hace #{time_ago_in_words(version.date)}"