- title "Imputación de horas"

%h2= "#{@issue.id} - #{@issue.subject}" rescue "Comienza buscando una petición ..."
- form_tag time_trackers_path, :method => :get, :style => 'overflow:hidden;display:block;' do
  - unless @issue.nil?
    %div{ :style => 'float:left;' } 
      - Activity.all.each do	|a|
        = submit_tag a.name, :disabled => a == @issue.current_activity && @issue == @active
        
  %div{ :style => 'float:right;text-align:right;' }
    = text_field_tag :search, @issue ? @issue.id : ""
    = submit_tag "Go"
    - if @issue != @active
      = link_to "→ #{@active.id}", time_trackers_path(:search => @active.id)

  .clear
  - unless @issue.nil?
    %p
      Tiempo estimado
      = link_to_redmine(@issue, "[editar]")
    %p{ :style => 'margin-left:20px;font-size:24px;' }= hours_in_words @issue.estimated_hours, true
    
    %p Tiempo real
    %div{ :style => 'margin-left:20px;font-size:24px;' }
      = hours_in_words @issue.real_hours
      - unless @issue.time_trackers.empty?
        %table{ :style => 'font-size:10px;width:40%;' }
          %tr
            %th Actividad
            %th Reales
          - for time_tracker in @issue.time_trackers
            %tr
              %td= h time_tracker.activity
              %td= hours_in_words time_tracker.real_hours
  
    %p Tiempo restante
    #timer{ :style => 'margin-left:20px;font-size:24px;' }
      - if @issue.open?
        %script
          = "var year  = #{@issue.finish_line.year};"
          = "var month = #{@issue.finish_line.month - 1};"
          = "var day   = #{@issue.finish_line.day};"
          = "var hour  = #{@issue.finish_line.hour};"
          = "var min   = #{@issue.finish_line.min};"
          = "var sec   = #{@issue.finish_line.sec};"
          = "var date  = new Date(year,month,day,hour,min,sec);"
          = "$('#timer').countdown({until: date, compact: true, description: ''});"
      - else
        = hours_in_words @issue.hours_left
    - if @issue == @active
      %div{ :style => 'margin-left:20px;' }
        = submit_tag @active.open? ? "Parar" : "Reanudar", :name => :toggle
    
    %br
  
  - unless @issues.empty?
    %h2 Imputaciones de la última semana
    %table
      %tr
        %th Comenzado
        %th Ticket
        %th Actividad
        %th Estimadas
        %th Reales
      - for issue in @issues.reverse
        %tr
          %td= h time_ago_in_words(issue.start_at)
          %td= link_to truncate("#{issue.id} #{issue.subject}", 100), time_trackers_path(:search => issue.id)
          %td= h issue.current_activity
          %td= hours_in_words issue.estimated_hours, true
          %td= hours_in_words issue.real_hours