- title "Imputación de horas"

%h2= "#{@issue.id} - #{@issue.subject}" rescue "Comienza buscando una petición ..."

%div{ :style => 'display:inline; float:right; text-align: right;' }
  - form_tag time_trackers_path, :method => :get do
    = text_field_tag :search, @issue ? @issue.id : ""
    = submit_tag "Go"
    - unless @issue == @last_issue || @last_issue.nil?
      = link_to "→ #{@last_issue.id}", time_trackers_path(:search => @last_issue.id)

- unless @issue.nil?
  %div{ :style => 'display:inline; margin-right:300px; overflow:hidden;' }
    - Activity.all.each do	|a|
      - form_to_time_trackers a.name, @issue, :disabled => @issue == @last_issue && a == @last_time_tracker.activity
  .clear
  %br
  - unless @issue.nil?
    %p
      Tiempo estimado
      = link_to_redmine(@issue, "[editar]")
    %p{ :style => 'margin-left:20px;font-size:24px;' }= hours_in_words @issue.estimated_hours, true
    
    %p Tiempo real
    %div{ :style => 'margin-left:20px;font-size:24px;' }
      = hours_in_words @issue.real_hours
      - unless @issue.time_trackers.empty?
        %table{ :style => 'font-size:10px;width:40%;' }
          %tr
            %th Actividad
            %th Reales
          - for time_tracker in @issue.time_trackers
            %tr
              %td= h time_tracker.activity
              %td= hours_in_words time_tracker.real_hours
  
    %p Tiempo restante
    #timer{ :style => 'margin-left:20px;font-size:24px;' }
      - if @issue.open?
        %script
          = "var year  = #{@issue.finish_line.year};"
          = "var month = #{@issue.finish_line.month - 1};"
          = "var day   = #{@issue.finish_line.day};"
          = "var hour  = #{@issue.finish_line.hour};"
          = "var min   = #{@issue.finish_line.min};"
          = "var sec   = #{@issue.finish_line.sec};"
          = "var date  = new Date(year,month,day,hour,min,sec);"
          = "$('#timer').countdown({until: date, compact: true, description: ''});"
      - else
        = hours_in_words @issue.hours_left
    - if @issue == @last_issue
      %div{ :style => 'margin-left:20px;' }          
        - form_to_time_trackers(@last_event.open? ? "Parar" : "Reanudar", @last_issue)
    
    %br
  
  - unless @issues.empty?
    %h2 Imputaciones de la última semana
    %table
      %tr
        %th Comenzado
        %th Tarea
      - for issue in @issues.reverse
        %tr
          %td= "hace #{time_ago_in_words(issue.start_at)}"
          %td= link_to "#{issue.id} - #{issue.subject}", time_trackers_path(:search => issue.id)
