!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= yield(:title)
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    = stylesheet_link_tag 'harsh/sunburst', 'formtastic', 'formtastic_changes', 'application', :cache => "base"
    = javascript_include_tag 'jquery-1.4.min', 'jquery-ui-1.7.2.custom.min', 'application', :cache => "base"
    = yield(:head)
    /                                                         
      [if IE]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]
  %body
    #container
      %ul#tabs
        %li
          = link_to "Requerimientos", requirements_url
        %li
          = link_to "Casos de uso", use_cases_url
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :class => "#{name}"
        = yield
