!!!
%html
  %head
    %title= yield(:title)
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    %link{ :href => "/stylesheets/application.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    = javascript_include_tag 'jquery-1.4.min', 'application'
    = yield(:head)
    /
      [if IE]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield
